.mybutton1{
    width: 100px;
    height: 100px;
    font-size: 30px;
    color: aliceblue;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
    border: 5px solid blue;
}
.mybutton2{
    width: 200px;
    height: 100px;
    font-size: 30px;
    color: yellow;
    background-color: green;
    border-radius: 10px;
    cursor: pointer;
    border: 5px solid blue;
}
.mybutton3{
    width: 200px;
    height: 100px;
    font-size: 30px;
    color: yellow;
    background-color: pink;
    border-radius: 10px;
    cursor: pointer;
    border: 5px solid blue;
}
